:root {
	--dark-bg-color: #2f303a;
	--text-dark-bg-color: #ffffff;
	--link-color-active: #2196f3;
	--shaded-color: #757575;
	--text-font-family: 'Raleway', sans-serif;
}
*{
	font-family:'Roboto', sans-serif;
	color: #212121;
}
.global-header ul {
	list-style-type: none;
}
.global-header a {
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.28px;
}
.global-header a.logo,
.global-footer a.logo {
	font-size: 26px;
	font-family: var(--text-font-family);
	font-weight: 700;
	letter-spacing: 0.78px;
}
.global-header .logo span,
.global-footer .logo span {
	color: var(--link-color-active);
}
.global-header div > a,
.global-footer address > a {
	color: var(--shaded-color);
}
.global-footer {
	background-color: var(--dark-bg-color);
}
.global-footer a,
.global-footer address {
	color: var(--text-dark-bg-color);
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	letter-spacing: 0.42px;
}
.global-header a:hover,
.global-footer a:focus,
.global-footer a:hover,
.global-header a:focus,
.global-header .active-link {
	color: var(--link-color-active);
}
.main-section ul,
.our-assets,
.portfolio-main-section ul{
	list-style-type: none;
}
.main-section .main-section-intro {
	background-color: var(--dark-bg-color);
	text-align: center;
}
.main-section-intro h1 {
	color: var(--text-dark-bg-color);
	font-size: 44px;
	font-weight: 900;
	line-height: 3.75em;
	letter-spacing: 2.64px;
	text-transform: uppercase;
}
.main-section-intro .button {
	background-color: var(--link-color-active);
	color: var(--text-dark-bg-color);
	font-weight: 700;
	line-height: 1.875em;
	letter-spacing: 0.96px;
	cursor: pointer;
}
.our-assets h2,
p {
	font-size: 14px;
	letter-spacing: 0.42px;
}
.our-assets h2 {
	font-weight: 700;
	text-transform: uppercase;
}
.our-assets p {
	color: var(--shaded-color);
	line-height: 1.5em;
}
.section-header {
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1.08px;
}
.our-team {
	text-align: center;
	letter-spacing: 0.48px;
}
.our-team h3 {
	font-weight: 500;
}
.our-team h4 {
	color: var(--shaded-color);
}
.portfolio-main-section button {
	text-align: center;
	font-weight: 500;
	line-height: 1.625em;
	letter-spacing: 0.48px;
	cursor: pointer;
}
.portfolio-main-section button:hover,
.portfolio-main-section button:focus {
	color: var(--text-dark-bg-color);
	background-color: var(--link-color-active);
}
.project-list h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 2.25em;
	letter-spacing: 1.08px;
}
.project-list h4 {
	color: var(--shaded-color);
	line-height: 1.875em;
	letter-spacing: 0.48px;
}
